@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #F5F7FA !important;
}

body {
  margin: 0;
}
