@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  --app-header-height: 56px;
}

@media (min-width: 600px) {
  :root {
    --app-header-height: 64px;
  }
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
  background: #F5F7FA;
  background-color: #F5F7FA;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: #121212;
    background-color: #121212;
  }
}

body {
  margin: 0;
}
